<div id="page-content">
  <div class="container-log-in">
    <div class="checkout-container">

    <h1>Pay for your order</h1>
    <%= form_tag order_payments_path(@order) do %>

  <div class="align-center table-checkout">
    <table class="table table-hover table-checkout">
      <tr>
        <td class="text-right">Email:</td>
        <td class="text-left"><%= @order.user.email %></td>
      </tr>
      <tr>
        <td class="text-right">Name:</td>
        <td class="text-left"><%= "#{@order.user.first_name}" %><%= "#{@order.user.last_name}" %></td>
      </tr>
      <tr>
        <td class="text-right">Date:</td>
        <td class="text-left"><%= Time.now.strftime("%d/%m/%Y") %></td>
      </tr>
      <tr>
        <td class="text-right">Amount:</td>
        <td class="text-left"><%= humanized_money_with_symbol(@order.amount_cents) %></td>
      </tr>
    </table>
 </div>

      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
      data-name="My Order"
      data-description="MERCH-Factory Custom Merchandise"
      data-amount="@order.amount_cents"
      data-currency="eur"></script>

      <% end %>
    </div>
  </div>
</div>
