<ul>
  <% @product.pictures.each do |picture| %>
    <div>
      <li class="remove_bullet_points">
      <%= cl_image_tag picture.image, height: 600, width: 600, crop: :fill %>
      </li>
    </div>
  <%end%>
 <li><%= @product.name%></li>

  <li ><%= @product.description%></li>

</ul>

<%= form_for [@shopping_cart, @order_item] do |f| %>
  <%= hidden_field_tag(:product_id, @product.id) %>
  <%= f.label :quantity %>:
  <%= f.text_field :quantity %><br />
  <%= f.submit %>
<% end %>

<h3>Pricebreaks!</h3>
<ul>
<% @product.price_breaks.each do |pricebreak| %>
<li><%= "#{pricebreak.quantity}, #{pricebreak.price}" %></li>
<% end %>
</ul>

