<div class= "product-page-container">
  <div class= "product-page-split-left">
    <% @product.pictures.each do |picture| %>
    <div class= "product_image_large">
      <%= cl_image_tag picture.image, height: 550, width: 550, crop: :fill %>
    </div>
  <%end%>
  </div>
  <div class= "product-page-split-right">
    <div class= "product-info">
      <h1><%= @product.name%></h1>

  <p><%= @product.description%></p>
    </div>
    <div class= "product-order-form">
      <div class= "price-breaks">
        <div class= "quantity">
        <p>Qty</p>
        <% @product.price_breaks.each do |pricebreak| %>
        <div class= "quantity_list_item"><%= "#{pricebreak.quantity}" %></div>
        <% end %>
        </div>
        <div class= "price_per_unit">
        <p>Price/Unit</p>
        <% @product.price_breaks.each do |pricebreak| %>
        <div class= "price_per_unit_list_item"><%= "$#{pricebreak.price_cents}" %></div>
        <% end %>
        </div>
      </div>
      <div class= "order-details">
        <div class= "order-form">
        <div class= "user-instruction">
          <p>To place an order:</p>
          </div>
        </div>
        <div class= "download-templates">
        <div class= "user-instruction">
          <h1>1. Download a design template</h1>
          </div>
        </div>
        <div class= "upload-templates">
          <div class= "user-instruction">
          <h1>2. Upload your design</h1>
          </div>
        </div>
        <div class= "select-quantity">
        <div class= "user-instruction">
          <h1>3. Select your quantity</h1>
          </div>
          <div class= "user-input">
              <%= form_for [@shopping_cart, @order_item], remote: true do |f| %>
              <%= hidden_field_tag(:product_id, @product.id) %>
              <%= f.label :quantity %>:
              <%= f.text_field :quantity %><br />
          </div>
        </div>
        <div class= "add-to-cart" >
          <%= f.submit "Add to cart", :class => 'btn-main' %>
          <% end %>
        </div>
      </div>
    </div>
    <div class= "additional-info">
      <p>
      Need help with your design? Email us your logo/artword  and we will help design it free of charge.
      </p>
      <p>
      Want to check the quality first? Simply change the quantity to 0 and we’ll send you a free sample!
      </p>
    </div>
  </div>

</div>


